@using MvcOnlineTicariOtamasyon.Models.Sınıflar
@model List<FaturaKalem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Fatura Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Fatura Seri No : @ViewBag.deger1</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Fatura Kalem ID</th>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FaturaKalemID</td>
            <td>@item.Aciklama</td>
            <td>@item.Miktar</td>
            <td>@item.BirimFiyat</td>
            <td>@item.Tutar</td>
           
        </tr>
    }
</table>
<a href="/Fatura/YeniKalem/"class="btn btn-outline-secondary">Yeni Kalem Girişi</a>



