@model MvcOnlineTicariOtamasyon.Models.Sınıflar.Faturalar
@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Fatura Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Fatura Seri No")
    @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Sıra No")
    @Html.TextBoxFor(x => x.FaturaSıraNo, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Saat")
    @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Vergi Dairesi")
    @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Teslim Eden")
    @Html.TextBoxFor(x => x.TeslimEden, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Teslim Alan")
    @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Yeni Departman Ekle</button>
</form>

