@using MvcOnlineTicariOtamasyon.Models.Sınıflar
@model List<Urun>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Cari Tablosu</h3>

                <div class="card-tools">

                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-head-fixed text-nowrap">
                <thead>
                    <tr>
                        <th>Ürün ID</th>
                        <th>Ürün AD</th>
                        <th>Ürün Marka </th>
                        <th>Ürün Stok</th>
                        <th>Ürün AlisFiyat</th>
                        <th>Ürün SatisFiyat</th>
                        <th>Ürün Durum</th>
                        <th>Ürün Kategori</th>
                        <th>Ürün Görsel</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UrunID</td>
                            <td>@item.UrunAd</td>
                            <td>@item.Marka</td>
                            @if (item.Stok == 0)
                            {
                                <td style="background-color:#ff0000;color:white">@item.Stok</td>
                            }
                            @if (item.Stok > 0)
                            {
                                <td>@item.Stok</td>
                            }
                            <td>@item.AlisFiyat</td>
                            <td>@item.SatisFiyat</td>
                            @if (item.durum == true)
                            {
                                <td> <span class="badge badge-success">Aktif</span></td>
                            }
                            @if (item.durum == false)
                            {
                                <td> <span class="badge badge-danger">Pasif</span></td>
                            }
                            <td>@item.Kategori.KategoriAd</td>
                            <td>@item.UrunGorsel</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
