@model MvcOnlineTicariOtamasyon.Models.Sınıflar.Personel
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Personel Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.PersonelID)

    @Html.Label("Personel AD")
    @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Soyad")
    @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Gorsel")
    <br />
    <input type="file" name="PersonelGorsel" />
    @*@Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })*@
    <br />
    @Html.Label("Personel Durum")
    @Html.TextBoxFor(x => x.durum, new { @class = "form-control" })
    <br />
    @Html.Label("Departman")
    @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.deger1, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Personel Güncelle</button>
}

