@model MvcOnlineTicariOtamasyon.Models.Sınıflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Personel Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.HiddenFor(x => x.PersonelID)

    @Html.LabelFor(x => x.PersonelAd)
    @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PersonelSoyad)
    @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PersonelGorsel)
    @Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.durum)
    @Html.TextBoxFor(x => x.durum, new { @class = "form-control" })
    <br />
    @Html.Label("Departman")
    @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.deger1, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Yeni Personel Ekle</button>


</form>

