
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Satış Yap</h2>
<br />
@model MvcOnlineTicariOtamasyon.Models.Sınıflar.SatisHareket
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Ürün Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">

    @Html.LabelFor(x => x.Urunid)
    <input type="text" name="Urunid" value="@ViewBag.deger2" class="form-control" readonly />
    <br />
    @Html.Label("Personel AD")
    @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.deger1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Cariid)
    @Html.TextBoxFor(x => x.Cariid, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Adet)
    <input type="number" class="form-control" max="10" min="1" placeholder="0" id="txt2" onchange="sum()" name="Adet"/>
    <br />
    @Html.LabelFor(x => x.Fiyat)
    <input type="text" name="Fiyat" value="@ViewBag.deger3" class="form-control" id="txt1" onchange="sum()" />
    <br />
    @Html.LabelFor(x => x.ToplamTutar)
    <input type="text" name="ToplamTutar" value="@ViewBag.deger3" class="form-control" id="txt3" readonly/>
    <br />
    <button class="btn btn-outline-primary">Yeni Satış Ekle</button>
</form>
<br />
<script>
    function sum() {
        var sayi1 = document.getElementById('txt1').value;
        var sayi2 = document.getElementById('txt2').value;
        var sonuc = parseInt(sayi1) * parseInt(sayi2);
        if (!isNaN(sonuc)) {
            document.getElementById('txt3').value = sonuc;
        }
    }
</script>


