@using MvcOnlineTicariOtamasyon.Models.Sınıflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>Satış ID</th>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Personel</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Toplam</th>
            <th>Tarih</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SatisID</td>
            <td>@item.Urun.UrunAd</td>
            <td>@item.Cariler.CariAd @item.Cariler.CariSoyad</td>
            <td>@item.Personel.PersonelAd @item.Personel.PersonelSoyad</td>
            <td>@item.Adet</td>
            <td>@item.Fiyat</td>
            <td>@item.ToplamTutar</td>
            <td>@item.Tarih.ToShortDateString()</td>
            <td><a href="/Satis/SatisGetir/@item.SatisID" class="btn btn-outline-primary">Satış Güncelle</a></td>
            <td><a href="/Satis/SatisDetay/@item.SatisID" class="btn btn-outline-info">Satış Detay</a></td>
        </tr>
    }
</table>
<a href="/Satis/SatisEkle/" class="btn btn-outline-success">Yeni Satış Ekle</a>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

<script>

    $('#tbl1').DataTable({

        "language": {

            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"

        }

    });

</script>

