@model MvcOnlineTicariOtamasyon.Models.Sınıflar.SatisHareket
@{
    ViewBag.Title = "SatisGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Satış Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("SatisGuncelle", "Satis", FormMethod.Post))
{
    @Html.HiddenFor(x => x.SatisID)

    @Html.Label("Ürün AD")
    @Html.DropDownListFor(x => x.Urunid, (List<SelectListItem>)ViewBag.deger1, new { @class = "form-control" })
    <br />
    @Html.Label("Cari AD")
    @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.deger2, new { @class = "form-control" })
    <br />
    @Html.Label("Personel AD")
    @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.deger3, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Adet)
    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Fiyat)
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ToplamTutar)
    @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-primary">Satışı Güncelle</button>
}

